#compilation files
/obj
.cache/
compile_commands.json

#executable
webserv

#swp files
*.swp

#mac files
.idea/
.DS_Store

# doc files
webserv_docs/.obsidian

# TestServer
www/html/test_post.txt

# Medias
www/html/images/*.png
www/html/images/*.jpg
